.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: black;
    width: 100%;
}

.linkNav{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
